/* global.css */
/* Every Sass file has its own .jsx  */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500')

*
  margin: 0
  padding: 0
  border: 0
  font-family: 'Montserrat', sans-serif

::selection
  background-color: #b3d4fc
  color: #000
  text-shadow: none

body
  width: 70vw
  max-width: 1400px
  margin: 0 auto

  .page_content
    display: flex
    justify-content: center
    align-items: center
    height: calc(100vh - 128px)
